.navbar {
    position: fixed; /* Torna a barra de navegação fixa no topo */
    top: 0; /* Fixa no topo da página */
    width: 100vw; /* Ocupa toda a largura da janela */
    background-color: 	#782B95; /* Cor de fundo da barra de navegação */
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

/* Estilos para os links na barra de navegação */
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Estilos para os links na barra de navegação ao passar o mouse */
.navbar a:hover {
    background-color: #431753; /* Cor de fundo ao passar o mouse */
    color: #fff;
}